/*
 * Custom control type styling
 */

.favorite-check-box .box {
	-fx-shape: 'm25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z';
}

.favorite-check-box:selected > .box {
	-fx-background-color: #FFAB04;
	-fx-border-color: #DC9300;
	-fx-border-width: 0.5px;
}

.favorite-check-box > .box > .mark {
	visibility: hidden;
}

.tag-cell {
	-fx-text-fill: #FFF;
	-fx-font-weight: bold;
}
